target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Java ###
*.class
*.jar
*.war

### IDE ###
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store

### Env ###
.env
